{% extends 'layout.html' %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="card col-sm" style="width: 18rem;">
            <img src="zapatillas2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zapatilla 1</h5>
                <p class="card-text">$ 16.399,00</p>
                <p>Hombre</p>
                <a href="#" class="btn btn-primary">Comprar ></a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img src="zapatillas2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zapatilla 2</h5>
                <p class="card-text">$ 9.399,00</p>
                <p>Mujer</p>
                <a href="#" class="btn btn-primary">Comprar ></a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img src="zapatillas3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zapatilla 2</h5>
                <p class="card-text">$ 2.399,00</p>
                <p>Mujer</p>
                <a href="#" class="btn btn-primary">Comprar ></a>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Mas productos</h2>
    <p>-Titulo del producto 5: Descripción...</p>
    <p>-Titulo del producto 5: Descripción...</p>
    <p>-Titulo del producto 5: Descripción...</p>
    <p>-Titulo del producto 5: Descripción...</p>
</section>
{% endblock %}